body {
    width: 960px;
    height: 600px;
}

#titlePlate {
    width: 400px;
    height: 100px;
    background-color: #c97027;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#titleArea {
    margin: 5px;
}

#instruction {
    height: 250px;
    width: 250px;
    background-color: #fbe5cc;
    margin: 0 5px 5px 5px;
}

#mainBox1 {
    height: 65px;
    width: 170px;
    margin: 0 5px 5px 5px;
}

.ranNum {
    width: 125px;
    height: 65px;
    float: left;
    background-color: #5cc882;
}

.winLose {
    width: 40px;
    height: 65px;
    float: right;
    background-color: #4afcfe;
}