body {
    width: 960px;
    height: 600px;
    font-family: 'Josefin Slab', serif;
}

#titlePlate {
    width: 400px;
    height: 100px;
    background-color: #c97027;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#titleArea {
    margin: 10px;
}

#instruction {
    height: 300px;
    width: 400px;
    background-color: #fbe5cc;
    margin: 0 10px 10px 10px;
}

#instruction p {
    padding: 7px 10px 0 10px;
    }

#mainBox1 {
    height: 130px;
    width: 400px;
    margin: 0 10px 10px 10px;
}

.ranNumBox {
    width: 280px;
    height: 120px;
    float: left;
    background-color: #5cc882;
}

.winLossBox {
    width: 100px;
    height: 120px;
    float: right;
    background-color: #4afcfe;
}

.winLossBox p {
    vertical-align: middle;
    height: 57px;
    padding: 5px 0 0 5px;
}

#gameButton {
    width: 420px;
    height: 100px;
    margin: 0 10px 0 10px;
}

.box {
    width: 90px;
    height: 90px;
    background-color: white;
    margin: 0 5px 0 5px;
    float: left;
}

.box input {
    width: 90px;
    height: 90px;
}

#scoreBoard {
    width: 400px;
    height: 100px;
    margin: 0 10px 10px 10px;
}

.score {
    background-color: #abafaf;
    width: 400px;
    height: 40%;
    margin: 0 10px 10px 0;
    vertical-align: middle;
    font-size: 25px;
    line-height: 40px;
}

.score p {
    padding-left: 10px;
}

.scoreDisplay {
    background-color: #abafaf;
    width: 400px;
    height: 150%;
    margin: 0 10px 10px 0;
}